<% if @special_tag_photos.blank? %>
  <h4>sorry! 没有<%= PhotographerShare::Application.config.tags[@tag_name] %>这个标签的图片</h4>
  <div><%= link_to 'Back', root_url %></div>
<% else %>
  <h4><%= PhotographerShare::Application.config.tags[@tag.name] %></h4>
  <%= render :partial => "shared/index_photos", :locals => {
     photos: @special_tag_photos } %>
<% end %>